
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 .hide-modal{
  display: none !important;
 }

.container-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);

}

.modal-dialog{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 15px 15px rgba(255,255,255,0.2);

}
 form{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
 }

 input{
    margin-bottom: 10px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    color: rgb(255,255, 255);
    border: 1px solid #000;
 }
 span,label{
    color: rgb(0, 0, 0);
 }

 button{

    margin: 10px auto;
 }

 button:hover{
    background-color: rgb(0, 0, 0);
 }

 label :nth-child(2){
   color: #ff0000;
   font-size: 15px;
   position: relative;
   top: -10px;
};
